html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {

    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.container {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.flex{
    display: flex;
    align-items: center;
}
.url, .link{
    width: 50%;
    text-align: center;
}
#table_header{
    margin: 20px 0;
    background-color: #f7f7f7;
    height: 30px; padding: 0;
}
